<% if(user) { %>
<% layout( 'login-layout' ) -%>

<section>
<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>_id</th>
        <th>activated</th>
        <th>metaActivity</th>
        <th>activityVerb</th>
        <th>activity</th>
        <th>specificLocation</th>
        <th>needPass</th>
        <th>city</th>
        <th>region</th>
        <th>country</th>
        <th>description</th>
        <th>link</th>
        <th>img</th>
        <th>targetIntensity</th>
        <th>targetFeelings</th>
        <th>restrictions</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Activate</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% activities.forEach( function( activity ){ %>
      <tr>
        <td><%= activity._id %></td>
        <td><%= activity.activated %></td>
        <td><%= activity.metaActivity %></td>
        <td><%= activity.activityVerb %></td>
        <td class="medium"><%= activity.activity %></td>
        <td><%= activity.specificLocation %></td>
        <td><%= activity.needPass %></td>
        <td><%= activity.city %></td>
        <td><%= activity.region %></td>
        <td><%= activity.country %></td>
        <td class="longer"><%= activity.description %></td>
        <td><%= activity.link %></td>
        <td><%= activity.img %></td>
        <td><%= activity.targetIntensity %></td>
        <td><%= activity.targetFeelings %></td>
        <td><%= activity.restrictions %></td>
        <td><%= activity.createdAt %></td>
        <td><%= activity.updatedAt %></td>
        <td><a href="/api/activate/<%= activity._id %>" title="Activate">Activate</a></td>
        <td><a href="/admin/activity/edit/<%= activity._id %>" title="Edit">Edit</a></td>
        <td><a href="/api/activity/delete/<%= activity._id %>" title="Delete">Delete</a></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
  <div id="add-activity">
    <a class="button-link" href="/admin/activity">Add a new activity</a>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>_id</th>
        <th>metaActivity</th>
        <th>ageu18Votes</th>
        <th>age1824Votes</th>
        <th>age2534Votes</th>
        <th>age3544Votes</th>
        <th>age4554Votes</th>
        <th>age5564Votes</th>
        <th>ageo65Votes</th>
      </tr>
    </thead>
    <tbody>
    <% activities.forEach( function( activity ){ %>
      <tr>
        <td><%= activity._id %></td>
        <td><%= activity.metaActivity %></td>
        <td><%= activity.ageu18Votes %></td>
        <td><%= activity.age1824Votes %></td>
        <td><%= activity.age2534Votes %></td>
        <td><%= activity.age3544Votes %></td>
        <td><%= activity.age4554Votes %></td>
        <td><%= activity.age5564Votes %></td>
        <td><%= activity.ageo65Votes %></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
</section>
<% } else { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } %>
