<% if(user) { %>
<% layout( 'login-layout' ) -%>
<%- partial('login-nav') %>

<section>
<div class="container">
  <h2>Add / Edit activity</h2>
  <form role="form" action="/api/activity/<%= activity._id ? activity._id : '' %>" method="post" accept-charset="utf-8">
    <div class="form-group">
      <label for="metaActivity">metaActivity:</label>
      <input type="text" class="form-control" id="metaActivity" placeholder="Enter metaActivity" name="metaActivity" value="<%= activity.metaActivity ? activity.metaActivity : '' %>" />
    </div>
    <div class="form-group">
      <label for="activityVerb">activityVerb:</label>
      <input type="text" class="form-control" id="activityVerb" placeholder="Enter activityVerb" name="activityVerb" value="<%= activity.activityVerb  ? activity.activityVerb : '' %>" />
    </div>
    <div class="form-group">
      <label for="activity">activity:</label>
      <input type="text" class="form-control" id="activity" placeholder="Enter activity" name="activity" value="<%= activity.activity ? activity.activity : ''  %>" />
    </div>
    <div class="form-group">
      <label for="specificLocation">specificLocation:</label>
      <input type="text" class="form-control" id="specificLocation" placeholder="Enter specificLocation" name="specificLocation" value="<%= activity.specificLocation ? activity.specificLocation : ''  %>" />
    </div>
    <div class="form-group">
      <label for="needPass">needPass:</label>
      <select class="form-control" id="needPass" name="needPass" value="<%= activity.needPass ? activity.specificLocation : false %>" />
        <option <% if(activity.needPass == true) { %>selected="selected"<% } %>>true</option>
        <option <% if(activity.needPass == false) { %>selected="selected"<% } %>>false</option>
      </select>
    </div>
    <div class="form-group">
      <label for="city">city:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter city" name="city" value="<%= activity.city ? activity.city : ''  %>" />
    </div>
    <div class="form-group">
      <label for="region">region:</label>
      <input type="text" class="form-control" id="region" placeholder="Enter region" name="region" value="<%= activity.region ? activity.region : ''  %>" />
    </div>
    <div class="form-group">
      <label for="country">country:</label>
      <input type="text" class="form-control" id="country" placeholder="Enter country" name="country" value="<%= activity.country ? activity.country : ''  %>" />
    </div>
    <div class="form-group">
      <label for="description">description:</label>
      <textarea class="form-control" rows="5" id="description" name="description"><%= activity.description ? activity.description : ''  %></textarea>
    </div>
    <div class="form-group">
      <label for="link">link:</label>
      <input type="text" class="form-control" id="link" placeholder="Enter link" name="link" value="<%= activity.link ? activity.link : ''  %>" />
    </div>
    <div class="form-group">
      <label for="img">img:</label>
      <input type="text" class="form-control" id="img" placeholder="Enter img" name="img" value="<%= activity.img ? activity.img : ''  %>" />
    </div>
    <div class="form-group">
      <label for="targetIntensity">targetIntensity:</label>
      <input type="text" class="form-control" id="targetIntensity" placeholder="Enter targetIntensity" name="targetIntensity" value="<%= activity.targetIntensity ? activity.targetIntensity : ''  %>" />
    </div>
    <div class="form-group">
      <label for="targetFeelings">targetFeelings:</label>
      <input type="text" class="form-control" id="targetFeelings" placeholder="Enter targetFeelings" name="targetFeelings" value="<%= activity.targetFeelings ? activity.targetFeelings : ''  %>" />
    </div>
    <div class="form-group">
      <label for="restrictions">restrictions:</label>
      <input type="text" class="form-control" id="restrictions" placeholder="Enter restrictions" name="restrictions" value="<%= activity.restrictions ? activity.restrictions : ''  %>" />
    </div>

    <div id="add-activity">
      <button type="submit" class="btn btn-default">Submit</button>
      <a href="/admin/activities/">Cancel</a>
    </div>
  </form>
</div>
</section>
<% } else { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } %>
