<% if(user) { %>
<% layout( 'login-layout' ) -%>

<section>
<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>_id</th>
        <th>activated</th>
        <th>activityVerb</th>
        <th>activity</th>
        <th>specificLocation</th>
        <th>city</th>
        <th>region</th>
        <th>country</th>
        <th>description</th>
        <th>link</th>
        <th>img</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Activate</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% activities.forEach( function( activity ){ %>
      <tr>
        <td><%= activity._id %></td>
        <td><%= activity.activated %></td>
        <td><%= activity.activityVerb %></td>
        <td class="medium"><%= activity.activity %></td>
        <td><%= activity.specificLocation %></td>
        <td><%= activity.city %></td>
        <td><%= activity.region %></td>
        <td><%= activity.country %></td>
        <td class="longer"><%= activity.description %></td>
        <td><%= activity.link %></td>
        <td><%= activity.img %></td>
        <td><%= activity.createdAt %></td>
        <td><%= activity.updatedAt %></td>
        <td><a href="/api/activate/<%= activity._id %>" title="Activate">Activate</a></td>
        <td><a href="/admin/activity/edit/<%= activity._id %>" title="Edit">Edit</a></td>
        <td><a href="/api/activity/delete/<%= activity._id %>" title="Delete">Delete</a></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
  <div id="add-activity">
    <a class="button-link" href="/admin/activity">Add a new activity</a>
  </div>
</div>
</section>
<% } else { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } %>
