<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
<% } %>

<%- partial('intro') %>
<button type="button" class="btn btn-primary btn-lg btn-block">Do something and feel better</button>
<%- partial('intentional') %>
<%- partial('features') %>
<%- partial('home-news') %>
<button type="button" class="btn btn-primary btn-lg btn-block">More coming soon</button>
<%- partial('home-signup') %>
