<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
  <section style="margin-top: 25px;">
  </section>
<% } %>

<header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
</header>

<%- partial('intro') %>
<%- partial('features') %>
<%- partial('video') %>
<%- partial('how-it-works') %>
<%- partial('testimonials') %>
<%- partial('home-news') %>
<%- partial('home-signup') %>
