<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
  <section class="lead-button">
  <!--     <a id="lead-signup" href="#0">
      <button type="button" class="btn btn-primary btn-lg btn-block">Signup here for early access!</button>
    </a> -->
    <div class='prefinery-form-embed'></div>
  </section>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
  <section style="margin-top: 25px;">
  </section>
<% } %>

<header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
</header>

<%- partial('intro') %>
<%- partial('features') %>
<%- partial('video') %>
<%- partial('how-it-works') %>
<%- partial('testimonials') %>
<%- partial('home-news') %>
<%- partial('home-signup') %>
