
  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
<!-- Closed during beta      <ul class="cd-switcher">
        <li><a href="#0">Sign in</a></li>
        <li><a href="#0">Sign up</a></li>
      </ul> -->

<%- partial('login') %>
<%- partial('register') %>
<%- partial('forgot') %>

      <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->

  <div class="message-container">
  <% if(messages.error) { %>
      <div class="alert alert-danger"><%= messages.error %></div>
  <% } %>
  <% if(messages.info) { %>
      <div class="alert alert-info"><%= messages.info %></div>
  <% } %>
  <% if(messages.success) { %>
      <div class="alert alert-success"><%= messages.success %></div>
  <% } %>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top main-nav">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#page-top"></a>
        <a class="navbar-brand" href="/">Design My Day</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
<!--           <li>
            <a id="signup" href="#0">Sign up</a>
          </li> -->
          <li>
            <a id="signin" href="#0">Sign in</a>
          </li>
<!--           <li class="page-scroll">
            <a href="#about">About</a>
          </li> -->
          <li>
            <a href="/contact">Contact</a>
          </li>
<!--           <li>
            <a href="/team">Team</a>
          </li>
          <li>
            <a href="/news">In the News</a>
          </li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
