<% layout( 'login-layout' ) -%>
<%- partial('login-nav') %>

    <section id="vote">

      <div>
        <span class="intro">Meet <span class="thick" id="user"><%= user._voteUser.username %>!</span></span>
        <br />
        <img src="/img/<%= user._voteUser.lastFeeling %>.gif" alt="<%= user._voteUser.lastFeeling %> feeling" />
        <p>
          <%= voteeAge %> years old and lives in <span class="city"><%= user._voteUser.city %></span>. Today <%= user._voteUser.username %> feels <span class="feeling"><%= user._voteUser.lastFeeling %></span>.
        </p>
        <p>
          What should <%= user._voteUser.username %> do today? Click on an activity below or suggest something new
        </p>
      </div>

      <div id="activities">

      </div>

      <div id="add-activity">
        <a class="button-link" href="/addactivity">Suggest Something New</a>
      </div>

    </section>

    <script>
      $(document).ready(function() {
        fetchVoteActivities();
      });
    </script>
